<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/project.css') }}">
	</head>
	<style>
</style>
<body><div class="navbar" >
<img src="{{ url_for('static',filename='1.png') }}" style="width:130% ;height:100px;" >
<ul>
<li><a class="nav" margin-left: 120px href="home.html">&#9776 </a></li> 
&nbsp
<li><a margin-left: 120px href="about.html"title="about" >About</a> </li> 
&nbsp
<li1><a margin-left: 120px href="userlogin.html"title="signin">Login</a> </li>  
&nbsp
<li1><a margin-left: 120px href="userregister.html"title="signup">Signup</a> </li>  
&nbsp
<li1><a margin-left: 120px href="help.html"title="contact us">&#9742</a> </li1> 
</ul>
</div>
<div class="container">
<p style="font-family:Arial; color:black;">
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
    There are two basic types of floods: flash floods and the more widespread river floods. Flash floods generally cause greater loss of life and river floods generally cause greater loss of property.

    A flash flood occurs when runoff from excessive rainfall causes a rapid rise in the water height (stage) of a stream or normally-dry channel. Flash floods are more common in areas with a dry climate and rocky terrain because lack of soil or vegetation allows torrential rains to flow overland rather than infiltrate into the ground.
    
    River flooding is generally more common for larger rivers in areas with a wetter climate, when excessive runoff from longer-lasting rainstorms and sometimes from melting snow causes a slower water-level rise over a larger area. Floods also can be caused by ice jams on a river or high tides, but most floods can be linked to a storm of some kind. 
</div>
</p>
</body>
</html>