<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" href="project.css">
	</head>
	<style>
</style>
<body><div class="navbar" style="position:fixed; width:88.5%;">
    <img src="1.png" style="width:100% ;height:100px;" >
    <ul>
    <li><a class="nav" margin-left: 120px href="home.html">&#9776 </a></li> 
    &nbsp
    <li><a margin-left: 120px href="about.html"title="about" >About</a> </li> 
    &nbsp
    <li1><a margin-left: 120px href="userlogin.html"title="signin">Login</a> </li>  
    &nbsp
    <li1><a margin-left: 120px href="userregister.html"title="signup">Signup</a> </li>  
    &nbsp
    <li1><a margin-left: 120px href="help.html"title="contact us">&#9742</a> </li1> 
    </ul>
    </div>
	
</body>
</html>